PORT=9001
MONGODB_URI='mongodb+srv://vortexventures54:XjNkt14aGiCiWWRT@cluster1.jc3w1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1'
CORS_ORIGIN='*'
ACCESS_TOKEN_SECRET_ADMIN='auth-access-token-admin'
ACCESS_TOKEN_SECRET='auth-access-token'
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET_ADMIN='auth-refresh-token-admin'
REFRESH_TOKEN_SECRET='auth-refresh-token'
REFRESH_TOKEN_EXPIRY=1d

CLOUDINARY_CLOUD_NAME="djjrm0dxu"
CLOUDINARY_API_KEY="684431212259549"
CLOUDINARY_API_SECRET="-JrRJcTNJw95tmV_6bkm_6NlrEE"

AUTHKEY='yNzpVrkJG2EmMJbY'
SENDERID='Esotic'